<ion-header no-border>

    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="navigateFromGooglemap(this.pscdetail.Latitude +','+ this.pscdetail.Longitude)">
               <ion-icon class="navigate-icon" name="navigate"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{pscdetail.PSCName}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content parallax-header>
    <div class="header-image" [ngStyle]="{'background-image': 'url(' + this.pscdetail.ImagePath + ')' }"></div>
    <div class="main-content">
        <ion-list no-lines>
            <ion-item text-wrap>
                <!--<h1><b>{{pscdetail.PSCName}}</b></h1>-->
                <h2>{{pscdetail.County + ',' + pscdetail.City}}</h2>
                <ion-row>
                    <ion-col width-25>
                        <!--<a item-right href="{{'tel:'+ pscdetail.Phone}}">-->
                        <button ion-button outline block icon-only>
                                <ion-icon name="call"></ion-icon>
                            </button>
                        <!-- </a>-->
                    </ion-col>
                    <ion-col width-75>
                        <button *ngIf="!checkinStatus" ion-button block (click)="checkin()">
                            Check In
                        </button>
                        <button *ngIf="checkinStatus" ion-button block (click)="notifyforCheckin()">
                            Notify for Check In
                        </button>
                    </ion-col>
                </ion-row>

            </ion-item>
            <ion-item>
                <h2>Wait Time</h2>
                <p>{{pscdetail.WaitTimeDescription}}</p>
            </ion-item>
            <ion-item text-wrap>
                <h2>Address</h2>
                <p>
                    <span *ngIf="pscdetail.AddressLine">{{pscdetail.AddressLine}}</span>
                    <span *ngIf="pscdetail.AddressLine2"> {{', '+ pscdetail.AddressLine2}} </span>
                    <span *ngIf="pscdetail.AddressLine3">{{ ', '+ pscdetail.AddressLine3 }}</span>
                </p>
            </ion-item>

            <ion-item text-wrap>
                <h2>Bussiness Hours</h2>
                <p>{{pscdetail.BussinessHours}}</p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>