page-dashboard {
    .details-page {
        color: #ffffff;
        padding: 0px;
    }
    .headerStyle {
        font-size: large;
    }
    .footerStyle {
        font-size: x-small;
    }
    .valueStyle {
        font-size: x-large;
    }
    .glucoseBG {
        background-color: #F9713D;
    }
    .calciumBG {
        background-color: #22ABF2;
    }
    .albuminBG {
        background-color: #84B844;
    }
}