<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>237849399961-8am2tjpu5kgufpffq7umjc4jnj39rgt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237849399961-8am2tjpu5kgufpffq7umjc4jnj39rgt2</string>
	<key>API_KEY</key>
	<string>AIzaSyCda5S6UZyJrh5yTeyKSsZ91HSDNBmizms</string>
	<key>GCM_SENDER_ID</key>
	<string>237849399961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>infogain.com.psclocator</string>
	<key>PROJECT_ID</key>
	<string>psclocator-155906</string>
	<key>STORAGE_BUCKET</key>
	<string>psclocator-155906.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:237849399961:ios:a0bbde87a5724347</string>
	<key>DATABASE_URL</key>
	<string>https://psclocator-155906.firebaseio.com</string>
</dict>
</plist>