page-contact-us {

}


.about-page {
.logo{
    padding: 20px 0px;
}

ion-footer{
    background-color: #F8F9F9;
    p{
        color:#9d9fa0;
        margin: 0px;
    }
}
}

.survey-card{
    background-color: #eff1f0;
}

.survey-card-header{
    background-color: #cccccc;
}