page-schedule-home-call {
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #4A148C;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #004D40;
  }
.shape{    
	border-style: solid; border-width: 0 70px 50px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}

.active_shape{    
	border-style: solid; border-width: 0 70px 50px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.project {
    position:relative;
    height: auto;
    text-align: left;
}

.project{
    background:#fff; border:1px solid #ddd;margin: 0px 0; overflow:hidden;
}

.project-radius{
    border-radius:7px;
}

.project-default {    border-color: #999999; }
.project-default .shape{
	border-color: transparent #999999 transparent transparent;
	border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-primary {	border-color: #033e74; width: 100%; }

.project-primary .shape{
	border-color: transparent #033e74 transparent transparent;
	border-color: rgba(255,255,255,0) #033e74 rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-primary .active_shape{
	border-color: transparent #033e74 transparent transparent;
	border-color: rgba(255,255,255,0) #8BC34A rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-content {
    padding:0 10px 10px;
}

.col{
border: 0.5px solid #bbb;
  border-width: 0.1px;

}
}
}
